
<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <br><br>
    <h2>Add a new listing</h2>
    <div class="col-8 offset-2">
        <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="enter the title" class="form-control" required>
                <div class="valid-feedback">Title looks good</div>
                <div class="invalid-feedback">Please provide a valid title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required>Write the description here</textarea>
                <div class="valid-feedback">Nicely written</div>
                <div class="invalid-feedback">Valid description needed</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="enter the price" class="form-control" required>
                <div class="valid-feedback">Looks affordable</div>
                <div class="invalid-feedback">Please provide a valid price</div>
            </div>
            <!-- <div class="dropdown">
                <label for="category ">Choose Category </label>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="ddwn" required>
                 Categories 
                </button>
                <ul class="dropdown-menu">
                  <li><input type="radio" name="category" value="Room">Room</li>
                  <li><input type="radio" name="category" value="Iconic City">Iconic City</li>
                  <li><input type="radio" name="category" value="Mountain">Mountain</li>
                  <li><input type="radio" name="category" value="Amazing Pools" >Amazing Pools</li>
                  <li><input type="radio" name="category" value="Camping">Camping</li>
                  <li><input type="radio" name="category" value="caFarmstegory">Farms</li>
                  <li><input type="radio" name="category" value="Arctic">Arctic</li>
                </ul>
              </div> -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="enter the location" class="form-control" required>
                <div class="invalid-feedback">Location is required</div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="enter the country" class="form-control" required>
                <div class="invalid-feedback">Country name is required</div>
            </div>
            <button class="c-btn">Add</button>
        </form>
    </div>
</div>
    

