body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}
.c-btn{
    background-color: #fe424d !important;
    border-radius: 0.2rem;
    border: none;
    margin-bottom: 1rem;
}
h1{
    margin-left: 1rem;
}
h2{
    text-align: center;
}
/*navbar*/
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}

/*footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    color: blue !important;
}
    
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f-info-socials 
 .f-info-brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* styling home page */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.listing-link{
    text-decoration: none !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    padding: 0!important;
}

.card-text p{
    font-weight: bold !important;
}

.card-text a{
    text-decoration: none !important;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* styling show page */
.show-img{
    height: 30vh;
}
.edit-btn{
   padding-top: auto !important;
   padding-bottom: auto !important;
   margin-bottom: auto !important;
}


.btns{
    display: flex;
    /* align-items: center; */
    margin-top: auto !important;
    margin-bottom: auto !important;
}

#map{
    height: 400px;
    width: 80vh;
}
