body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.c-btn{
    background-color: #fe424d !important;
    border-radius: 0.2rem;
    border: none;
    margin-bottom: 1rem;
}
h2{
    text-align: center;
}
/*navbar*/
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}

/*footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    color: blue !important;
}
    
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f-info-socials 
 .f-info-brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/*styling show ejs*/
.show-img{
    height: 30vh;
}